photo {
    float: left
}

h2 {
 background-color: #F5F5DC; /* Change la couleur de fond */
    border-radius: 1px; /* Optionnel, pour adoucir les bords */
}

p {
  font-family: Time new roman;
  font-size: 15px;
}
